section {
  background-color: #24353f;
  font-family: "Roboto", sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.group {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
input::placeholder {
  color: #ffffffd5;
}
input:focus {
  outline: 1px solid #0dcaf0;
  border: 1px solid transparent !important;
}
nav a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
nav a:hover {
  text-decoration: none;
  color: #fff;
}
